# https://gnews.io/ API key
NEWS_API_KEY=

# https://wit.ai/ application token
WIT_TOKEN_KEY=

# http://openweathermap.org/ API key
WEATHER_API_KEY=

# https://developers.line.biz/ API tokens
ACCESS_TOKEN=
CHANNEL_SECRET=
